nav {
    font-family: sans-serif;
    margin: 5rem auto;
    text-align: center;
    font-size: 30px;
    width: 100%;
    position: relative;
  }
  
  nav:before {
    content: "";
    display: block;
    width: 44%;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
  }
  
  nav:after {
    content: "";
    display: block;
    width: 44%;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  }

  nav picture img{
    width: 8%;
    height: auto;
    vertical-align: middle;
    overflow: hidden;

    /* animation: rotation 15s infinite linear; */
    /* transform: rotate(180deg); */
    animation: rotation 15s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .navbar{
    /* display: none; */
    /* background-color: blue; */
  }


 .navbar ul {
    background-color: #f2f2f2;
    list-style: none;
    display: flex;
    padding: 1rem 2rem;
 }
  @media (min-width: 768px) {
    .navbar ul {
      padding: 1rem 5rem;
   }
 }
  .navbar li {
    display: inline;
    font-size: 2rem;
 }
  @media (min-width: 768px) {
    .navbar li {
      font-size: 2rem;
   }
 }
  /* .navbar .breadcrumb-item__cart-link {
    display: flex;
 } */
  .navbar ul + .navbar li::before {
    color: #000;
    content: '/\00a0';
    padding: 1rem;
 }
  .breadcrumb-item__cart {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
 }
  .breadcrumb-item_carticon {
    display: inline-block;
    position: relative;
    padding-right: 10px;
 }
  .breadcrumb-item_carticon svg {
    width: 18px;
    margin-top: 10px;
 }
  .breadcrumb-item_cartcount {
    margin-left: 5px;
    background-color: #ff6161;
    border-radius: 10px;
    height: 24px;
    font-size: 17px;
    margin-top: -9px;
    z-index: 990;
    position: absolute;
 }
  .breadcrumb-item_carttext {
    align-self: center;
    font-weight: 500;
    font-size: 2rem;
 }
  .breadcrumb-trail {
    color: #2954ff;
    text-decoration: none;
 }
  .breadcrumb-trail:hover {
    color: #103be6;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
 }
  