nav p {
    font-family: sans-serif;
    margin: 5rem auto 0 auto;
    text-align: center;
    font-size: 30px;
    width: 100%;
    position: relative;
  }
  
  nav p:before {
    content: "";
    display: block;
    width: 44%;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
  }
  
  nav p:after {
    content: "";
    display: block;
    width: 44%;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  }

  nav picture img{
    /* padding-top: 2rem; */
    width: 12%;
    height: auto;
    vertical-align: middle;
    overflow: hidden;

    /* animation: rotation 15s infinite linear; */
    /* transform: rotate(180deg); */
    animation: rotation 15s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .navbar{
    /* display: none; */
    /* background-color: blue; */
  }


 .navbar ul {
    background-color: #f2f2f2;
    list-style: none;
    /* display: flex; */
    padding: 0rem 0rem;
    /* margin-bottom: 4rem; */
 }
  @media (min-width: 768px) {
    .navbar ul {
      padding: 0.6rem 5rem;
   }
 }
  .navbar li {
    display: inline;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
 }
  @media (min-width: 768px) {
    .navbar li {
      font-size: 1.25rem;
   }
 }


