/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .hero-container {
    padding: 0;
    padding-top: 6rem;
}
  
main .hero {
    position: relative;
    padding: 32px;
    min-height: 300px;
}

main .hero h1 {
    /* max-width: 1200px; */
    padding-top: 5rem;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* text-transform: capitalize; */
    color: white;
}


main .hero picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* object-fit: cover; */
    box-sizing: border-box;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    opacity: 0.9;
}

.hero:hover picture{
    opacity: 0.7;
}

.hero:hover h1{
    color: black;
    font-size: 2.8rem;
    transition-duration: 0.5s;
}

main .hero img {
   
    /* object-fit: cover; */
    width: 70%;
    height: auto;
}

@media screen and (max-width:807px){
    main .hero h1{
        font-size: 2rem;
    }

    main .hero img{
        object-fit: cover;
    }
}

@media screen and (min-width:1130px){
    main .hero img{
        object-fit: cover;
    }
}

@media screen and (max-width:807px){
    main .hero h1{
        font-size: 2rem;
    }

    main .hero img{
        object-fit: cover;
        width: 80%;
    }
}


@media screen and (max-width:468px){
    main .hero h1{
        font-size: 2rem;
    }

    main .hero img{
        object-fit: cover;
        width: 90%;
    }
}